*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background: linear-gradient(40deg, #01030e, #1042b4);
     font-family: "Orbitron", monospace;  
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#digital{
    color: white;
    border: 1px solid white;
    font-size: 40px;
    padding: 10px;
    width: min(80%, 300px);
    text-align: center;
    border-radius: 8px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}
